<!DOCTYPE html>
<html lang="en">
<head>
    <meta CHARSET="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>Accounting system</title>
</head>
<body>
<style>
        #include("/WEB-INF/css/style.css");
</style>
<header>
    <img class="logo" src="logo_300-150.png" alt="Logo">
    <div class="company-name">Company Accounting System</div>
</header>
<div class="nav-wrapper">
    <nav>
        <a>Create new user</a>
    </nav>
</div>
<main>
    <!--div class="content"-->
    <form name="newuser" id="newuser" accept-charset="UTF-8">

        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" name="name" placeholder="Name..."></td>
            </tr>
            <tr>
                <td><label for="tel">Telephone number</label></td>
                <td><input type="text" id="tel" name="tel" placeholder="Telephone number..."></td>
            </tr>
            <tr>
                <td><label for="email">E-mail</label></td>
                <td><input type="text" id="email" name="email" placeholder="e-mail..."></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="text" id="password" name="password" placeholder="Password..."></td>
            </tr>
            <tr>
                <td><label for="usertype">User type</label></td>
                <td><select name="usertype" id="usertype">
                    #foreach($usertype in $positionslist)
                        <option value="$usertype">$usertype</option>
                    #end
                </select></td>
            </tr>
            <tr>
                <td><label for="office">Office</label></td>
                <td><select name="office" id="office">
                    #foreach($office in $officeslist)
                        <option value="$office.id">$office.name</option>
                    #end
                </select></td>
            </tr>
        </table>
    </form>
    <br/>
    <!--/div-->
    <button type="submit" class="asideButton" onclick="adduser()">Add new User</button>
    <button class="asideButton1" onclick="window.location.reload(true)">Clear form</button>
    <button class="asideButton2" onclick="window.close()">Cancel</button>
</main>

<script>
    function adduser() {
        $.ajax({
            url: "/adduser_db",
            data: ({
                name: $('#name').val(),
                tel: $('#tel').val(),
                email: $('#email').val(),
                password: $('#password').val(),
                usertype: $('#usertype').val(),
                office: $('#office').val()
            }),
            //dataType: "json",
            success: function (data) {
                alert("User Added");
                opener.location.reload(true);
                window.close();
            },
            error: function (xhr) {
                alert("error!!!");
            }
        });
    }
</script>

</body>
</html>