<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Accounting system</title>
</head>
<body>
<style>
        #include("/WEB-INF/css/style.css");
</style>
<header>
    <img class="logo" src="logo_300-150.png"alt="Logo">
    <div class="company-name">Company Accounting System</div>
</header>
<div class="nav-wrapper">
    <nav>
        <a href="/officeoperations" >Office operations</a>
        <a href="/operations">Transformations</a>
        <a href="/stock">Stock</a>
        <div class="dropdown">
            <a class="current">Admin -> Users</a>
            <div class="dropdown-content">
                <a href="/users">Users</a>
                <a href="/accounts">Accounts</a>
                <a href="/offices">Offices</a>
            </div>
    </nav>
</div>
<main>
    <div class="content">
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>tel</th>
                <th>email</th>
                <th>password</th>
                <th>userType</th>
                <th>office</th>
                <th>last active</th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>
            #foreach($user in $userslist)
            <tr>
                <td>$user.id</td>
                <td>$user.name</td>
                <td>$user.tel</td>
                <td>$user.email</td>
                <td>$user.password</td>
                <td>$user.type</td>
                <td>$user.officeID</td>
                <td>$user.lastActive</td>

                <td><button class="edit" onclick="edituser_db($user.id)">Edit</button></td>
                <td><button class="delete" value="$user.id" onclick="removeuser($user.id)">Delete</button></td>
            </tr>
                #end
        </table>
    </div>

    <aside>
        <form action="#">
            <button class="asideButton" onclick="window.showModalDialog('newuser')">Add new User</button>
        </form>
        <form action="#">
            <label for="office">Office</label>
            <select name="office" id="office">
                <option value="*">All</option>
                #foreach($office in $officeslist)
                    <option value="$office.officeID">$office.name</option>
                #end
            </select>
        </form>
        <form action="#">
            <label for="position">Position</label>
            <select name="position" id="position">
                <option value="*">All</option>
                #foreach($position in $positionslist)
                    <option value="$position">$position</option>
                #end
            </select>
        </form>

    </aside>
</main>

<script src='js/script.js'></script>
<script>
    function removeuser(id) {
        //var userid = parameters.userid;
        $.ajax({
            url: "/removeuser_db",
            data: ({
                id: id//$(this).attr("value")
            }),
            //dataType: "json",
            success: function (data) {
                alert("User Deleted");
                window.location.reload (true);
            },
            error: function (xhr) {
                alert("error!!!");
            }
        });
    }

    function edituser_db(id) {
        $.ajax({
            url: "/edituser_db",
            data: ({
                id: id
            }),
            success: function (data) {
                alert("Good");
                window.showModalDialog('url');
            },
            error: function (xhr) {
                alert("error!!!");
            }

        });
    }
</script>

</body>
</html>